p {
    margin: 10px 10px 10px 10px;
}

img {
    height: 100px;
    width: 100px;
}

#especial {
    color: red;
    text-align: center;
    font-size: 30px;

}

img {
    height: 200px;
    width: 200px;
}
a {
    margin-right: 50px;
}
h1 {
    color: #006400;
    text-align: center;
}
body{
    background-color: #a4d7a1;
}